doctype html
html
    head 
        title Main Page

    body 
        h1 Pagina main, da click pe un link ca sa accesezi informatiile aferente
        a(href='/cursa') Cursa
        br
        a(href='/vehicul') Vehicul
        br
        a(href='/sofer') Sofer
        br
        a(href='/alimentare') Alimentare
        br
        a(href='/mentenanta') Mentenanta
        br
        a(href='/accident') Accident
        br
        a(href='/sofer_vehicul') Sofer_vehicul
        br
        a(href='/cursa_client') Cursa_client
        br
        a(href='/client') Client
        br
        a(href='/vehicul/infoMentenanta') Subpunctul c
        br
        a(href='/cursa/infoLocatii') Subpunctul d
